<footer class="page-wrap">
    <div id="footer-content">
        <div>
            <h3>Contact</h3>

            <p class="footer-email"><i class="icon-email"></i> kidfriendlyreviews@gmail.com</p>
        </div>
    </div>

    <div id="social-icons">
	    <a class="icon-rss" href="{{@blog.url}}/rss/">RSS</a>
	</div>

    <div id="copyrights">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
    </div>
</footer>